<!DOCTYPE html>
<html lang="en">
<head>
  <title>
ljlkjlkjlkj
  </title>
  <meta name="description" content="SBO™ designed by Hrvoje Grubisic. Connect with them on Dribbble; the global community for designers and creative professionals." />
  <meta charset="utf-8" />
  <meta name="theme-color" content="#333333">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="referrer" content="origin-when-cross-origin">

  <!--[if gte IE 7]><!-->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- CSS only -->

<!-- JS, Popper.js, and jQuery -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<script type="text/javascript" src="static/js/app.js"></script>



<body id="details" class="logged-out not-pro not-player not-self not-team not-on-team  ">

 

<div id="wrap">
        <div class="ad-shot-banner"></div>
  <div id="wrap-inner" >
    <div id="content" role="main">

<div class="non-overlay group">

  <section class="shot-media-section" data-screenshot_id="14234703">
          <a class="full-screen-page" href="/shots/14234703-SBO/attachments/5878460?mode=media">
  <div class="media-content" >
<div class="text-center">
<!--
           <img
            src="{{ url_for('static', filename='img/card10.png' ) }} "
            class="img-responsive" style="width:500px;" 
            alt="SBO™ header type website design minimal clean layout typography">
			-->
		              <div  id="preview"	class="img-responsive"  style="width:500px;"  >
                </div>
				

        </div>
  </div>
</a>
  </section>
 <form  action = "/DownloadOne" method = "POST" enctype = "multipart/form-data" >
    <div class="shot-info flex-ns">
      <div class="screenshot-meta " style=" 
 margin: 0 auto;
  ">
                  <input type="text" class="form-control" placeholder="الاسم"  id="text"  name="username"  aria-label="Username" aria-describedby="basic-addon1">
			  <input type="hidden"  name="color" value="one">
<br> <br>
  <!-- this the button to save the photo-->



                      <button type="submit" class="btn btn-outline-secondary btn-lg btn-block" >للتحميل</button>



      </div>
    </div>
	</form>
	

</div>




    </div>
  </div>
</div>



<div id="footer" class="site-footer js-site-footer" role="contentinfo">
  <div class="container-large">

    <div class="footer-lower-content">
      <div>&copy; 2020. All rights reserved.</div>
        <div class="remote-locations-container">Made with &hearts; 


</div>
    
    </div>
  </div>
</div>



</body>
</html>
